.theme-light .decor-rec {
  display: none;
}

:root.theme-light {
  --bg-image: url("../images/cover-image-light.png");
  --bg-color: #FFF1F7;
  --button-color: #353430;
  --button-hover-color: #32312D66;
  --accent-color: #FF8DCB;
  --decor-color: #353430;
  --logo-color: #FFC2E6;
  --title-color: #353430;
  --section-title-color: #353430;
  --card-text: #353430;
}

@media (prefers-color-scheme: light) {
  .decor-rec {
    display: none;
  }

  :root {
    --bg-image: url("../images/cover-image-light.png");
    --bg-color: #FFF1F7;
    --button-color: #353430;
    --button-hover-color: #32312D66;
    --accent-color: #FF8DCB;
    --decor-color: #353430;
    --logo-color: #FFC2E6;
    --title-color: #353430;
    --section-title-color: #353430;
    --card-text: #353430;
  }
}