:root {
  --bg-image: url("../images/cover-image-dark.png");
  --bg-color: #000028;
  --button-color: #FF0070;
  --button-hover-color: #FF007066;
  --decor-color: #FF0070;
  --accent-color: #FF0070;
  --logo-color: #DB00FF;
  --title-color: #000028;
  --section-title-color: #FF0070;
  --card-text: #F1B2CE;
  --offset-sm: 10px;
  --offset-md: 20px;
}
